body, html {
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
    background: url(/images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* hr {
    border-color: #F05F44;
    border-width: 4px;
    max-width: 65px;
  } */

  .buffer {
    height: 10rem;
  }

  h1 {
    font-size: 5rem;
    color: #e2dbdb;
    padding-top: 90px;
  }

  .btn {
    font-weight: 700;
    padding-top: 90px;
    border-radius: 300px;
  }

  .btn-primary {
    background-color: #F05F44;
    border-color: #F05F44;
  }

  .btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 4px;
  }

  .btn-xl{
    padding: 1rem 2rem;
    font-family: 'Corsive', serif;
  }